body {
  font-family: 'Roboto', sans-serif; }

.signin {
  background-color: #6D7CE4;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .signin__title {
    font-weight: 500;
    margin: 75px 0px 43px 0px;
    font-size: 28px;
    color: #fff; }
