@import "base/mixins";
@import "base/variables";
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/registerForm";
@import "components/plan";
@import "components/option";

@import "pages/plans-options";
@import "pages/home";
@import "pages/register";
@import "pages/plans"