.plan{
    @include column-justify-center;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: $color-secondary;
    border-radius: 25px;
    overflow: hidden;

    &__image{
        border-radius: 25px;
        align-self: center;
        width: 400px;
        height: 330px;
        transform: translateY(-50px);
    }

    &__description{
        @include column-justify-center;
        width: 100%;
        padding: 20px;
        font-weight: bold;
        font-size: 18px;
        color: $color-primary-dark;
        position: absolute;
        top: 55%;
        bottom: 0;
        background-color: $color-secondary;
    }

    &__btn{
        @include flex-center;
        cursor: pointer;
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-primary-light;
        width: 168px;
        height: 39px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 24px;
        color: $color-white;
        transition: all .3s;

        @include button-animation;
    }
}