.register__form{
    @include column-justify-center;

    &--input{
        background: #FFFFFF;
        padding: 17px;
        height: 64px;
        width: calc(100vw - 50px);
        border: 1px solid #604848;
        border-radius: 10px;
        font-weight: 500;
        font-size: 22px;

        &:invalid{
            border: 2px solid rgb(182, 37, 37);
        }
    }

    &--button{
        background: #8C97EA;
        border-radius: 10px;
        height: 56px;
        width: calc(100vw - 140px);
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: $color-white;
    }
}
