.mb-huge{
    margin-bottom: $margin-bottom-huge;
}

.mb-big{
    margin-bottom: $margin-bottom-big;
}

.mb-small{
    margin-bottom: $margin-bottom-small;
}

.mb-tiny{
    margin-bottom: $margin-bottom-tiny;
}

.mb-medium{
    margin-bottom: $margin-bottom-medium;
}

.error-message{
    color: $color-red;
    width: calc(100% - 38px);
    font-size: 16px;
    text-align: center;

    &.white{
        color: $color-white;
    }
}

.bold{
    font-weight: 700;
}