.mb-huge{
    margin-bottom: $margin-bottom-huge;
}

.mb-big{
    margin-bottom: $margin-bottom-big;
}

.mb-small{
    margin-bottom: $margin-bottom-small;
}

.mb-tiny{
    margin-bottom: $margin-bottom-tiny;
}

.mb-medium{
    margin-bottom: $margin-bottom-medium;
}

.bold{
    font-weight: 700;
}