$color-primary: #6D7CE4;
$color-primary-dark:#4D65A8;
$color-primary-light:#8C97EA;
$color-secondary: #E5CDB3;
$color-white: #fff;
$color-red: #E63C80;
$color-forms: rgba(224, 209, 237, 0.62);

$margin-bottom-huge: 144px;
$margin-bottom-big: 62px;
$margin-bottom-medium: 40px;
$margin-bottom-small: 15px;
$margin-bottom-tiny: 8px;