.home{
    background-color: $color-primary;
    width: 100%;
    height: 100vh;
    padding: 17px;
    animation: moveInTop .7s;
    @include column-justify-center;

    &__title{
        font-weight: 500;
        margin: 36px 0px 43px 0px;
        font-size: 28px;
        color: $color-white;
    }

    &__description{
        width: 300px;
        line-height: 21px;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        color: $color-white;
    }

    &__image{
        width: 100vw;
        height: calc(100vh - 300px);
    }

    &__ghostbg{
        position: absolute;
        top: calc(100vh - 150px);
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-primary-dark;
    }

    &__btn{
        @include flex-center;
        cursor: pointer;
        width: 202px;
        height: 45px;
        position: absolute;
        left: 50vw;
        transform: translateX(-50%);
        top: calc(100vh - 130px);
        font-size: 18px;
        font-weight: 700;
        color: $color-white;
        background: $color-primary-light;
        transition: all .3s;
        border-radius: 10px;
        z-index: 2;

        @include button-animation;
    }
    &__switcher{
        cursor: pointer;
        position: absolute;
        text-align: center;
        left: 50vw;
        transform: translateX(-50%);
        top: calc(100vh - 68px);
        font-size: 18px;
        font-weight: 700;
        color: $color-white;
        border-radius: 10px;
        transition: all .3s;
        z-index: 2;

        &:hover{
            text-shadow: 2px 2px 2px rgba($color-white, 0.5);
        }
    }
}