.plans-options{
    position: relative;
    @include column-justify-center;
    font-family: 'Roboto', sans-serif;
    background-color: $color-primary;
    width: 100%;
    height: 100vh;
    padding: 20px;

    &__title{
        width: 100%;
        text-align: start;
        font-weight: 700;
        margin: 85px 0px 22px 0px;
        font-size: 26px;
        color: $color-white;
    }

    &__info{
        width: 100%;
        margin-left: 8px;
        font-weight: 300;
        font-size: 18px;
        color: $color-white;
        text-align: start;
    }

    &__container{
        @include column-justify-center;
        position: relative;
        height: auto;
        overflow-y: visible;
        width: calc(100vw - 32px);
        background-color: $color-white;
        border-radius: 10px;
    }

    &__image{
        width: 100%;
        height: 172px;
        border-radius: 10px;
    }

    &__btn{
        @include flex-center;
        cursor: pointer;
        position: absolute;
        bottom: -55px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-primary-light;
        width: 168px;
        height: 39px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 24px;
        color: $color-white;
        transition: all .3s;

        &.big{
            width: 198px;
            height: 45px;
        }

        @include button-absolute-animation;
    }

    &__input{
        border: none;
        outline: none;
        box-shadow: none;
        background-color: $color-forms;
        width: calc(100% - 60px);
        height: 44px;
        border-radius: 5px;
        color: $color-primary-dark;
        font-weight: 700;
        font-size: 18px;
        padding: 12px;
        margin-bottom: 7px;

        &::placeholder{
            color: rgba($color-primary-dark, 0.8);
            font-weight: 500;
            font-size: 18px;    
        }

        &--small{
            width: calc(100% - 120px);
            margin-right: 20px;
        }
    }

    &__uf--container{
        display: flex;
        width: calc(100% - 60px);
        height: auto;
        margin-bottom: 7px;
    }
}