.plans{
    font-family: 'Roboto', sans-serif;
    background-color: $color-primary;
    width: 100%;
    height: auto;
    padding: 9px;
    @include column-justify-center;

    &__title{
        align-self: start;
        font-weight: 700;
        margin: 85px 0px 22px 8px;
        font-size: 26px;
        color: $color-white;
    }

    &__info{
        align-self: start;
        margin-left: 8px;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        width: 330px;
        color: $color-white;
        text-align: start;
    }
}