body {
  font-family: 'Roboto', sans-serif;
  background-color: #6D7CE4;
  backface-visibility: hidden;
  width: 100vw;
  height: 100%;
  overflow-x: hidden; }

input {
  outline: none;
  box-shadow: none; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none; }

/*reset css*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@keyframes moveInTop {
  0% {
    transform: translateY(-500px); }
  80% {
    transform: translateY(100px); }
  100% {
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(300px); }
  80% {
    transform: translateX(-100px); }
  100% {
    transform: translate(0); } }

.mb-huge {
  margin-bottom: 144px; }

.mb-big {
  margin-bottom: 62px; }

.mb-small {
  margin-bottom: 15px; }

.mb-tiny {
  margin-bottom: 8px; }

.mb-medium {
  margin-bottom: 40px; }

.error-message {
  color: #E63C80;
  width: calc(100% - 38px);
  font-size: 16px;
  text-align: center; }
  .error-message.white {
    color: #fff; }

.bold {
  font-weight: 700; }

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .register__form--input {
    background: #FFFFFF;
    padding: 17px;
    height: 64px;
    width: calc(100vw - 50px);
    border: 1px solid #604848;
    border-radius: 10px;
    font-weight: 500;
    font-size: 22px; }
    .register__form--input:invalid {
      border: 2px solid #b62525; }
  .register__form--button {
    background: #8C97EA;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #fff;
    transition: all .4s; }
    .register__form--button:hover {
      transform: translateY(-5px) translateX();
      box-shadow: 0px 2px 2px rgba(77, 101, 168, 0.3);
      background-color: #fff;
      color: #4D65A8; }

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #E5CDB3;
  border-radius: 25px;
  overflow: hidden; }
  .plan__image {
    border-radius: 25px;
    align-self: center;
    width: 400px;
    height: 330px;
    transform: translateY(-50px); }
  .plan__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #4D65A8;
    position: absolute;
    top: 55%;
    bottom: 0;
    background-color: #E5CDB3; }
  .plan__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8C97EA;
    width: 168px;
    height: 39px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    transition: all .3s; }
    .plan__btn:hover {
      transform: translateY(-5px) translateX();
      box-shadow: 0px 2px 2px rgba(77, 101, 168, 0.3);
      background-color: #fff;
      color: #4D65A8; }

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: rgba(224, 209, 237, 0.62);
  position: relative;
  height: auto;
  width: calc(100% - 32px); }
  .option__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #4D65A8; }
  .option__arrow {
    cursor: pointer;
    color: #4D65A8;
    transition: all .6s;
    perspective: 25px;
    -moz-perspective: 25px;
    transform: rotateX(0); }
  .option__arrow.active {
    transform: rotateX(-180deg); }
  .option__checkbox {
    height: 0px;
    width: calc(100% - 32px);
    transition: all .3s; }
    .option__checkbox p {
      opacity: 0;
      display: none;
      transition: all .3s; }
  .option__checkbox.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    background-color: rgba(224, 209, 237, 0.62);
    padding: 12px;
    width: calc(100% - 32px); }
    .option__checkbox.active p {
      cursor: pointer;
      opacity: 1;
      font-weight: 500;
      display: initial;
      font-size: 18px; }
  .option__checkbox--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    opacity: 1; }
  .option__white-square {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-color: #fff;
    margin: 10px 10px;
    opacity: 0; }
  .option__white-square.active {
    opacity: 1; }
  .option__check {
    opacity: 0; }
  .option__check.active {
    opacity: 1; }

.uf {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: rgba(224, 209, 237, 0.62);
  width: 100px;
  height: 44px;
  border-radius: 5px;
  color: #4D65A8;
  font-weight: 700;
  font-size: 18px;
  transition: all .3s; }
  .uf.active {
    height: 164px; }
  .uf__placeholders {
    padding: 12px 4px 12px 12px;
    height: 44px;
    width: 100%;
    color: rgba(77, 101, 168, 0.8);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .uf__placeholders svg {
      transform: rotate(0);
      transition: all .3s; }
    .uf__placeholders.active {
      color: #4D65A8;
      font-weight: 700; }
      .uf__placeholders.active svg {
        transform: rotateX(-180deg); }
  .uf__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    width: 100%;
    overflow-y: scroll;
    transition: all .3s; }
    .uf__options.active {
      height: 120px; }
  .uf__option {
    height: 0px;
    opacity: 0;
    width: 100%;
    background-color: transparent;
    color: #4D65A8;
    font-weight: 500;
    font-size: 16px;
    transition: all .3s; }
    .uf__option.active {
      height: 40px;
      padding: 12px;
      opacity: 1; }

.user-info {
  display: flex;
  width: calc(100% - 38px);
  font-size: 18px;
  line-height: 21px; }
  .user-info__type {
    color: #4D65A8;
    margin-right: 5px;
    font-weight: bold; }
  .user-info__value {
    color: #E63C80; }
    .user-info__value--container {
      display: flex;
      flex-direction: column;
      width: calc(100% - 60px);
      margin: 7px 0px; }

.plans-options {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #6D7CE4;
  width: 100%;
  height: 100vh;
  padding: 20px; }
  .plans-options__title {
    width: 100%;
    text-align: start;
    font-weight: 700;
    margin: 85px 0px 22px 0px;
    font-size: 26px;
    color: #fff; }
  .plans-options__info {
    width: 100%;
    margin-left: 8px;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-align: start; }
  .plans-options__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;
    overflow-y: visible;
    width: calc(100vw - 32px);
    background-color: #fff;
    border-radius: 10px; }
  .plans-options__image {
    width: 100%;
    max-width: 300px;
    height: 172px;
    border-radius: 10px; }
  .plans-options__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8C97EA;
    width: 168px;
    height: 39px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    transition: all .3s; }
    .plans-options__btn.big {
      width: 198px;
      height: 45px; }
    .plans-options__btn:hover {
      transform: translateY(-5px) translateX(-50%);
      box-shadow: 0px 2px 2px rgba(77, 101, 168, 0.3);
      background-color: #fff;
      color: #4D65A8; }
  .plans-options__input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgba(224, 209, 237, 0.62);
    width: calc(100% - 60px);
    height: 44px;
    border-radius: 5px;
    color: #4D65A8;
    font-weight: 700;
    font-size: 18px;
    padding: 12px;
    margin-bottom: 7px; }
    .plans-options__input::placeholder {
      color: rgba(77, 101, 168, 0.8);
      font-weight: 500;
      font-size: 18px; }
    .plans-options__input--small {
      width: calc(100% - 120px);
      margin-right: 20px; }
  .plans-options__uf--container {
    display: flex;
    width: calc(100% - 60px);
    height: auto;
    margin-bottom: 7px; }

.home {
  background-color: #6D7CE4;
  width: 100%;
  height: 100vh;
  padding: 17px;
  animation: moveInTop .7s;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home__title {
    font-weight: 500;
    margin: 36px 0px 43px 0px;
    font-size: 28px;
    color: #fff; }
  .home__description {
    width: 300px;
    line-height: 21px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #fff; }
  .home__image {
    width: 100vw;
    height: calc(100vh - 300px); }
  .home__ghostbg {
    position: absolute;
    top: calc(100vh - 150px);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4D65A8; }
  .home__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 202px;
    height: 45px;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: calc(100vh - 130px);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #8C97EA;
    transition: all .3s;
    border-radius: 10px;
    z-index: 2; }
    .home__btn:hover {
      transform: translateY(-5px) translateX();
      box-shadow: 0px 2px 2px rgba(77, 101, 168, 0.3);
      background-color: #fff;
      color: #4D65A8; }
  .home__switcher {
    cursor: pointer;
    position: absolute;
    text-align: center;
    left: 50vw;
    transform: translateX(-50%);
    top: calc(100vh - 68px);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    transition: all .3s;
    z-index: 2; }
    .home__switcher:hover {
      text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5); }

.register {
  font-family: 'Roboto', sans-serif;
  background-color: #6D7CE4;
  width: 100%;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .register__title {
    font-weight: 500;
    margin: 75px 0px 43px 0px;
    font-size: 28px;
    color: #fff; }
  .register__switcher {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff; }
    .register__switcher:hover {
      text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5); }

.plans {
  font-family: 'Roboto', sans-serif;
  background-color: #6D7CE4;
  width: 100%;
  height: auto;
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .plans__title {
    align-self: start;
    font-weight: 700;
    margin: 85px 0px 22px 8px;
    font-size: 26px;
    color: #fff; }
  .plans__info {
    align-self: start;
    margin-left: 8px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    color: #fff;
    text-align: start; }
