body {
  font-family: 'Roboto', sans-serif; }

input {
  outline: none;
  box-shadow: none; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none; }

/*reset css*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.mb-huge {
  margin-bottom: 144px; }

.mb-big {
  margin-bottom: 62px; }

.mb-small {
  margin-bottom: 15px; }

.mb-tiny {
  margin-bottom: 8px; }

.bold {
  font-weight: 700; }

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .register__form--input {
    background: #FFFFFF;
    padding: 17px;
    height: 64px;
    width: calc(100vw - 50px);
    border: 1px solid #604848;
    border-radius: 10px;
    font-weight: 500;
    font-size: 22px; }
    .register__form--input:invalid {
      border: 2px solid #b62525; }
  .register__form--button {
    background: #8C97EA;
    border-radius: 10px;
    height: 56px;
    width: calc(100vw - 140px);
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #fff; }

.home {
  background-color: #6D7CE4;
  width: 100%;
  height: 100vh;
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home__title {
    font-weight: 500;
    margin: 36px 0px 43px 0px;
    font-size: 28px;
    color: #fff; }
  .home__description {
    width: 300px;
    line-height: 21px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #fff; }
  .home__image {
    width: 100vw;
    height: calc(100vh - 300px); }
  .home__ghostbg {
    position: absolute;
    top: calc(100vh - 150px);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4D65A8; }
  .home__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 202px;
    height: 45px;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: calc(100vh - 130px);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #8C97EA;
    border-radius: 10px;
    z-index: 2; }
  .home__switcher {
    cursor: pointer;
    position: absolute;
    text-align: center;
    left: 50vw;
    transform: translateX(-50%);
    top: calc(100vh - 68px);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    z-index: 2; }

.register {
  font-family: 'Roboto', sans-serif;
  background-color: #6D7CE4;
  width: 100%;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .register__title {
    font-weight: 500;
    margin: 75px 0px 43px 0px;
    font-size: 28px;
    color: #fff; }
  .register__switcher {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff; }
